.shop {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.product {
    margin: 3vh;
    background-color: rgb(173, 230, 229);
    padding: 1vh;
}